.hero-bg {
  position: relative;  
  top: -80px;          
  z-index: -10;  
}

.hero-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;

  /* 75° rotation সহ seamless gradient */
  background: linear-gradient(75deg,
  #D3EAFF 0%,      
  #FFFFFF 40%,
  #e2effc 60%,
  #FFFFFF 100%
);

}



