/* .mega-menu {
  position: relative;
  display: flex;
  align-items: center;
  
} */

/* .menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px;
  margin: 0px;
  
} */

.menu li {
  cursor: pointer;
}

/* Main submenu */
.submenu {
  display: none;
  position: absolute;
  top: 100%; /* below parent */
  left: 50%; /* start at center of parent */
  transform: translateX(-50%); /* center exactly */
  background: #ffffff;
  list-style: none;
  padding: 10px 0;
  width: 1012px; /* fixed width */
  height: 380px;
  border-radius: 20px;
  z-index: 10;
}

/* Nested submenu */
.nested-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 30%; /* right side of parent submenu */
  /* background: #bbb; */
  list-style: none;
  padding: 10px 0;
  width: 400px; /* optional width for nested */
  border-radius: 10px;
}

.menu li:hover > .submenu {
  display: block;
}

.submenu li:hover > .nested-submenu {
  display: block;
}

.submenu li,
.nested-submenu li {
  
  padding: 8px 20px;
  cursor: pointer;
  /* Frame 1618873384 */

  /* Auto layout */
  display: flex;
  gap:10px;
  
  align-items: center;
  /* padding: 12px 16px 12px 12px; */
  /* gap: 10px; */

  width: 100%;
  height: 70px;

  border-radius: 12px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.submenu li:hover,
.nested-submenu li:hover {
  background: #007ce8;
  width: 304px;
  height: 70px;
  border-radius: 12px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

